#grpBtn {
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 2px 2px 0px #000000, inset -2px -2px 0px #000000;
    border-radius: 10px;
    height: 68px;
    width: 76%;
    margin-left: 11%;
    margin-bottom: 30px;
    
    /*width: 1105px;
    margin-left: 174px;
    margin-bottom: 50px;*/

}

#surroundingDiv {
    width: 100%;
    
}

#GHGroupName {
    
    left: 1.18%;
    right: 82.99%;
    top: 26.47%;
    bottom: 26.47%;
    margin-left: 10px;
    margin-top: 23px;
    

    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 15px;
    text-align: left;
    float: left;
    color: #000000;
    
    width: 50%;
}

/* Dropdown Button */
.dropbtn {
   background-color: transparent;
    color: black;
    height: 60px;
    width: 50px;
    font-size: 30px;
    border: none;
    margin-right: 0px;
    margin-left: 0px;
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    
    margin-left: 37%;
    margin-bottom: 20px;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFBDA0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #8DC2FF;
    text-decoration: none;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: white;} */