#mainHome {
    margin-top: 100px; 
    width: 100%;
    background-image: url("../../LongBackground.png");
    background-size: cover;
    
}

#temp {
    height: 500px;
}

#mainDiv {
    /* background-color: turquoise;  */
    margin-bottom: 37px;
}
#headerDiv {
    /* background-color: red;  */
    width: 30%;
    float: left;
    margin-top: 13px;
    margin-left: 8%;
}

#buttonDiv {
    /* background-color: blue;  */
 
    width: 304px;
    /* margin-left: 60%; */
    margin-right: 11%;
    margin-bottom:8px;
    float: right;
}


#GroupButton {
    background-color: #8DC2FF;
    color: black;
    border-radius: 4px;
    
    
    width: 303px;
    height: 45px;

    background: #8DC2FF;
    box-shadow: inset 0px 1px 0px #000000, inset 1px 0px 0px #000000, inset -1px 0px 0px #000000, inset 0px -1px 0px #000000;
   

    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

#dividerHeader {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 40%;
    
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}
#divider {

    margin-left: 7%;
    width: 84%;
    background-color: black;
    height: 2px;
    border-style: none;
    margin-top: 1px;
}

