#Main {
    margin: auto;
    font-size: 20px;
    text-align: center;
}

h1 {
    text-align: center;

    font-family: DM Sans;
    font-size: 42px;
    font-weight: 700;
    line-height: 62px;
    color: #000000;
    text-decoration: underline;
    margin-bottom: 100px;
}


input {
    height: 61.359771728515625px;
    width: 383.42926025390625px;
    border-radius: 4px;
    background: rgba(255, 207, 164, 0.01);
    box-shadow: inset 0px -1px 0px #000000, inset 1px 0px 0px #000000, inset -1px 0px 0px #000000, inset 0px 1px 0px #000000;
    font-family: DM Sans;
    display: block;
    background: #FFCFA403;
}

#FormContainer {
}

.container {
    height: 50px;
    position: absolute;  
}
  
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
}

button {
    height: 40px;
    width: 120px;
    box-shadow: inset 0px -1px 0px #000000, inset 1px 0px 0px #000000, inset -1px 0px 0px #000000, inset 0px 1px 0px #000000;
    caret-color: transparent;
    text-align: center;
    background-color: #87CEFA;
}