.main{
    margin: auto;
    max-width: 1050px;
    /* margin-left: 7.5%;
    margin-right: 7.5%; */
}

#title{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #000000;
    padding-right: 13px;
}

#member{
    padding-right: 13px;
}

#dated{
    padding-right: 13px;
}

label{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 49px;
    color: #000000;
}

input{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 35px;
    color: #000000;
}

.row{
    margin-bottom: 36px;
}

#title-id{
    width: 54.35%;
    max-width: 783px;
    height: 6%;
    margin-right: 1.875%;
    border-width: 2px;
    border-radius: 4px;
}

#member-id{
    width: 50.2%;
    max-width: 731px;
    height: 6%;
    border-width: 2px;
    border-radius: 4px;
}

#date-id{
    width: 49.2%;
    max-width: 714px;
    border-width: 2px;
    border-radius: 4px;
}

#description-id{
    width: 65.5%;
    height: 388px;
    max-width: 918px;
    margin-bottom: 2%;
    border-width: 2px;
    border-radius: 4px;
}

#difficulty{
    margin-right: 45%;
    /* max-width: 918px; */
}


.save{
    background-color: #8DC2FF;
    color: #FFFFFF;
    border-radius: 4px;
    margin-right: 1.875%;
    box-shadow: none;
    width: 123px;
    height: 6%;

    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

.cancel{
    background-color: #8F8F8F;
    color: #FFFFFF;
    border-radius: 4px;
    width: 123px;
    height: 6%;

    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

.delete{
    background-color: #FF7759;
    color: #FFFFFF;
    border-radius: 4px;

    width: 218px;
    height: 61px;

    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}